- mapping_name = filter_name.to_s.sub('_range', '')
= f.select(field_name, \
  send("#{mapping_name}_mapping"), \
  {selected: get_filtered_option(filter_name, field_name), include_blank: 'Please Select'}, \
  { class: 'form-select' })
