div.col-1.my-auto = f.label filter_name, class: 'form-label fw-bold'
div.col-2.my-auto = f.fields_for filter_name do |ff|
  div.d-flex.flex-row = render partial: 'phones/filter_form/select_field', \
                        locals: {f: ff, filter_name: filter_name, field_name: :value}
