/ scss = stylesheet_link_tag "navbar"

/ div#nav_box
/   ul#nav_list
/     li
/       a Home
/     li 
/       a Inventory
/     li 
/       a Store Info
/     li 
/       a Register
/     li 
/       a Logout

= link_to 'Phones', phones_path, class: 'btn btn-dark m-5'

= link_to 'Logout', destroy_user_session_path , class: 'btn btn-primary m-5', method: 'delete'

= link_to 'Profile', user_path(current_user), class: 'btn btn-light m-5'
