= link_to 'Home', '/', class: 'btn btn-dark m-5'

= link_to 'Login', new_user_session_path , class: 'btn btn-primary m-5'

= link_to 'Register?', new_user_registration_path, class: 'btn btn-light m-5'
