.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
  thead tr {
    background-color: #319b91;
    color: #ffffff;
    text-align: left;
  }

  th, td {
    padding: 12px 15px;
    border: 1px solid black
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #afdad9;
  }
  
  tbody tr:last-of-type {
    border-bottom: 5px solid #319b91;
  }
}
