// Place all the styles related to the inventory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// @use 'base';
@use 'inventory_table';

#inventory{
  text-align: center;
  #content {
    width: 90%;
    text-align: left;
    margin: auto;
  }
}
